<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitRoutinesAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitRoutinesAddin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RevitRoutinesAddin.Properties.Settings>
            <setting name="SfDrivePath" serializeAs="String">
                <value>\\boulderassociates.com\projects\sf</value>
            </setting>
            <setting name="CsvOutputPath" serializeAs="String">
                <value>\\boulderassociates.com\projects\Boulder\0014.00 - Practice Technology Projects\BA BIM Data\Project Info Data</value>
            </setting>
            <setting name="DalDrivePath" serializeAs="String">
                <value>\\boulderassociates.com\projects\dallas</value>
            </setting>
            <setting name="OcDrivePath" serializeAs="String">
                <value>\\boulderassociates.com\projects\oc</value>
            </setting>
            <setting name="SacDrivePath" serializeAs="String">
                <value>\\boulderassociates.com\projects\sac</value>
            </setting>
            <setting name="BldDrivePath" serializeAs="String">
                <value>\\boulderassociates.com\projects\boulder</value>
            </setting>
        </RevitRoutinesAddin.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RevitRoutinesAddin.Properties.Settings>
            <setting name="SQLServerName" serializeAs="String">
                <value>tableau\\sqlexpress,1433</value>
            </setting>
            <setting name="SQLServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPwd" serializeAs="String">
                <value>Boulder4747</value>
            </setting>
            <setting name="BABimDbName" serializeAs="String">
                <value>babim</value>
            </setting>
        </RevitRoutinesAddin.Properties.Settings>
    </userSettings>
</configuration>